@font-face {
  font-family: 'Manrope';
  src: url(/fonts/Manrope.woff2) format('woff2');
}

@font-face {
  font-family: 'DancingScript';
  src: url(/fonts/DancingScript.woff2) format('woff2');
}

@keyframes line-top-anim {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(6px) rotate(0deg); }
  100% { transform: translateY(6px) rotate(45deg); }
}

@keyframes line-middle-anim {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes line-bottom-anim {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-8px) rotate(0deg); }
  100% { transform: translateY(-8px) rotate(135deg); }
}

@keyframes line-top-anim-rev {
  0% { transform: translateY(6px) rotate(45deg); }
  50% { transform: translateY(6px) rotate(0deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

@keyframes line-middle-anim-rev {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes line-bottom-anim-rev {
  0% {
    transform: translateY(-8px) rotate(135deg);
  }
  50% {
    transform: translateY(-8px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes w-noti {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px); 
  }
  25% {
    transform: translateY(0px); 
  }
  30% {
    transform: translateY(-3px); 
  }
  35% {
    transform: translateY(0px); 
  }
  40% {
    transform: translateY(-1px); 
  }
}

@keyframes rotateIconPizza {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.overlay {
  display: none;
}

@media (max-width: 768px) {
  div.overlay {
    position: fixed;
    inset: 0;
    
    display: block;

    background-color: transparent;

    visibility: hidden;

    z-index: 1;
    transition: background-color .3s ease-in-out, visibility .3s ease-in-out;
  }

  div.overlay.active {
    background-color: #0000004d;

    visibility: visible;
  } 

  body:has(div.overlay.active) {
    overflow-y: hidden;
  }
}