@import "tailwindcss";

* {
  font-family: 'Manrope', sans-serif;
  line-height: 1;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;

  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
}

body {
  height: 100dvh;
  min-width: 320px;
}