div.card-container {
  grid-template-rows: 200px minmax(200px, auto);

  box-shadow: 4px 4px 8px #00000033;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 4px 6px 8px #00000033;

    transform: translateY(-2px);
  }
}

p.descParagraph {
  display: -webkit-box;

  overflow: hidden;

  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

button.btn-add {
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}