div.cart {
  height: clamp(350px, 87.5dvh, 625px);

  visibility: hidden;

  transform: translateY(-40rem);
  transition: transform .6s ease-in-out, visibility .6s ease-in-out;
}

div.cart.active {
  visibility: visible;

  transform: translateY(0rem);
}

header.cart-header {
  padding: .6875rem .5rem;
}

div.cart-item {
  grid-template-columns: clamp(110px, 34vw, 125px) 1fr;
}

@media (max-width: 550px) {
  div.cart {
    height: calc(100dvh - 48px);
    max-height: unset;
    width: 100%;
    max-width: unset;
  }
  
  div.cart {
    transform: translateY(-55rem);
  }

  header.cart-header {
    padding: .6875rem .5rem;
    padding-top: 2.5rem;
  }

  body:has(div.cart.active) {
    overflow-y: hidden;
  }
}