header {
  padding: 0 1rem;
}

li.nav-link {
  position: relative;
  transition: color .3s ease-in-out;

  &::after {
    content: '';
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: white;

    height: 2px;
    width: 0%;

    /* margin: auto; */
    transition: background-color .3s ease-in-out, width .3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: gray;

    &:hover:after {
      background-color: gray;
    }
  }
}