section#about {
  gap: var(--section-padding-y);

  padding: var(--section-padding-y) var(--section-padding-x);
}

a.insta-flavio {
  position: relative;

  &::after {
    content: '';

    display: block;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;

    background-color: black;

    border-radius: 50px;

    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  div.about-container {
    flex-direction: column-reverse;
    gap: 1.125rem;
  }

  div.about-text-content {
    text-align: center;

    width: 100%;
    max-width: 475px;
  }

  picture.about-img-container {
    align-self: center;

    width: 100%;
    max-width: 475px;
  }

  div.feedbacks-container {
    flex-direction: column;
    gap: 1.125rem;
  }

  div.feedbacks-text-content {
    text-align: center;

    width: 100%;
    max-width: 475px;
  }

  div.feedbacks-card-container {
    align-self: center;

    width: 100%;
    max-width: 475px;
  }
}