section#about {
  padding: 0 var(--section-padding-x);
}

a.insta-flavio {
  position: relative;

  &::after {
    content: '';

    display: block;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;

    background-color: black;

    border-radius: 50px;

    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}