section#delivery {
  padding: var(--section-padding-y) var(--section-padding-x);
}

div.delivery-container > div,
div.retirada-container > div {
  position: relative;

  &::before {
    content: "";

    display: inline-block;
  
    background-size: 60px;
    background-position: center center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    transition: transform .3s ease-in-out;
  }
}

div.delivery-container > div {
  &&::before {
    background-image: url(../assets//icons/delivery.svg);
  }

  &&:hover:before {
    transform: rotate(-20deg);
  }
}

div.retirada-container > div {
  &&::before {
    background-image: url(../assets//icons/retirada.svg);
    background-size: 75px;

    height: 95%;
  }

  &&::after {
    content: '';

    display: inline-block;

    position: absolute;
    top: 66px;
    left: 50%;

    background-color: black;

    height: 3px;
    width: 56px;

    border-radius: 50px;

    transform: translateX(-50%);
  }

  &&:hover:before {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  section#delivery > div:first-child {
    flex-direction: column;
    gap: 1.125rem;
  }

  div.delivery-text-content {
    text-align: center;
    width: 100%;
    max-width: 475px;
  }

  aside.delivery-aside-content {
    align-items: center;
  }

  picture.delivery-img-container {
    align-self: center;

    width: 100%;
    max-width: 475px;
  }
}