section#home {
  box-shadow: inset 0 -10px 1px #f5f5f5;

  padding: 0 var(--section-padding-x);
}

span.home-price-aside {
  position: relative;
  transition: color .3s ease-in-out;

  &:hover {
    color: white;
  }

  &::before {
    content: '';

    display: inline-block;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -3px;

    background-color: #f9f9d0;

    border-radius: 50px;

    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
  }

  &:hover:before {
    background-color: white;

    width: 100%;
  }
}